.banner {
  background-size: cover;
  background-position: center;
  padding: 250px;
}
.banner h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  color: white;
  font-size: 16px;
  opacity: .8;
}
